Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
t = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sort = sorted(t,key=lambda x:x[1])
for i in sort:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq = list(map(lambda x: x**2,num))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [9]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t = tuple(map(lambda x:str(x),lst))
print(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [12]:
from functools import reduce
num = [i for i in range(1,26)]
product = reduce(lambda x, y: x * y, num)
print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
lst = [2,3,6,9,27,60,90,120,55,46]
div = list(filter(lambda x: x % 2 == 0 and x % 3 == 0,lst))
print(div)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [15]:
lst = ['python', 'php', 'aba', 'radar', 'level']
palin = list(filter(lambda x: x[::-1] == x[::],lst))
print(palin)

['php', 'aba', 'radar', 'level']